In [21]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_excel('Invoices-with-Merged-Categories-and-Merged-Amounts.xlsx')

In [23]:
df.head()

,Order ID,Category,Amount,Date
0,CA-2011-167199,Binders | Art | Phones | Fasteners | Paper,609.98 | 5.48 | 391.98 | 755.96 | 31.12,2022/1/2 | 2022/2/2 | 2022/3/2 | 2022/4/2
1,CA-2011-149020,Office Supplies | Furniture,2.98 | 51.94,2022-01-03 | 2022-02-03 | 2022-03-03
2,CA-2011-131905,Office Supplies | Technology | Technology,7.2 | 42.0186 | 42.035,22/1/4 | 22/2/4 | 22/3/4
3,CA-2011-127614,Accessories | Tables | Binders,234.45 | 1256.22 | 17.46,2022 Jan 05 | 2022 Feb 05 | 2022 Mar 05

In [24]:
df[['Category','Amount','Date']] = df[['Category','Amount','Date']]\
                                    .apply(lambda x: x.str.split('|'))

In [25]:
df.head()

,Order ID,Category,Amount,Date
0,CA-2011-167199,"[Binders , Art , Phones , Fasteners , Paper]","[609.98 , 5.48 , 391.98 , 755.96 , 31.12]","[2022/1/2 , 2022/2/2 , 2022/3/2 , 2022/4/2]"
1,CA-2011-149020,"[Office Supplies , Furniture]","[2.98 , 51.94]","[2022-01-03 , 2022-02-03 , 2022-03-03]"
2,CA-2011-131905,"[Office Supplies , Technology , Technology]","[7.2 , 42.0186 , 42.035]","[22/1/4 , 22/2/4 , 22/3/4]"
3,CA-2011-127614,"[Accessories , Tables , Binders]","[234.45 , 1256.22 , 17.46]","[2022 Jan 05 , 2022 Feb 05 , 2022 Mar 05]"

In [26]:
def unnesting(df, explode):
    idx = df.index.repeat(df[explode[0]].str.len())
    df1 = pd.concat([
        pd.DataFrame({x: np.concatenate(df[x].values)}) for x in explode], axis=1)
    df1.index = idx

    return df1.join(df.drop(explode, 1), how='left')


new_df = unnesting(df,['Category', 'Amount', 'Date'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  import sys

In [27]:
new_df = new_df[['Order ID', 'Category','Amount','Date']]

In [28]:
new_df.reset_index(inplace=True, drop=True)

In [29]:
new_df.head()

         Order ID     Category    Amount         Date
0  CA-2011-167199     Binders    609.98     2022/1/2
1  CA-2011-167199         Art      5.48     2022/2/2
2  CA-2011-167199      Phones    391.98     2022/3/2
3  CA-2011-167199   Fasteners    755.96      2022/4/2
4  CA-2011-167199        Paper     31.12  2022-01-03

In [30]:
new_df.Date = pd.to_datetime(new_df['Date'])

In [31]:
new_df

          Order ID          Category     Amount       Date
0   CA-2011-167199          Binders     609.98  2022-01-02
1   CA-2011-167199              Art       5.48  2022-02-02
2   CA-2011-167199           Phones     391.98  2022-03-02
3   CA-2011-167199        Fasteners     755.96  2022-04-02
4   CA-2011-167199             Paper      31.12 2022-01-03
5   CA-2011-149020  Office Supplies       2.98  2022-02-03
6   CA-2011-149020         Furniture      51.94 2022-03-03
7   CA-2011-131905  Office Supplies        7.2  2004-01-22
8   CA-2011-131905       Technology    42.0186  2004-02-22
9   CA-2011-131905        Technology     42.035 2004-03-22
10  CA-2011-127614      Accessories     234.45  2022-01-05
11  CA-2011-127614           Tables    1256.22  2022-02-05
12  CA-2011-127614           Binders      17.46 2022-03-05

In [32]:
new_df.to_excel('cleaned_data.xlsx')